{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body %}
<h1>{{ 'new block'|trans|title }}</h1>

{{ form(form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('block') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
