<div class="row page-list">
    {% for page in pages %}
    <a href="{{ path('page', { 'slug': page.slug }) }}" class="col-sm-4">
        <div class="page-item">
            <h3 class="page-item-title">{{page.name}}</h3>
            <div class="page-item-body">
                {{ render(controller('FlowcodePageBundle:Page:block', {'pageId':page.id,'blockName':'preview'})) }}
            </div>
        </div>
    </a>
    {% endfor %}
</div>
